body{
    background-image: -moz-linear-gradient(to right,#1f40e5, #c71717, #1f40e5);
}

h1{
    border: 2mm ridge #c71717;
    background: #1f40e5;
    color: floralwhite;
}

.text{
    text-align: center;
    color: floralwhite;
}

.look{
    border: 1mm dashed #1f40e5;
    border-radius: 10mm;
}

.buttons{
    border: 1mm dashed #c71717;
    border-radius: 10mm;
    margin-top: 5mm;
}

.game{
    border: 1mm dashed #1f40e5;
    border-radius: 10mm;
    margin-top: 5mm;
}

a{
    text-align: left;
    color: antiquewhite;
    display: inline-block;
    margin-top: 5mm;
}