@import model.Card
@(players: List[String], cards: List[Option[List[List[Card]]]], state: ControllerStateInterface)

@radioButtons = @{state.isInstanceOf[InjectControllerState]}
@stash = @{0}
@cardStash(i: Int) = @{cards(i).get}

Abgelegte Karten:<br><br>
@for(i <- 0 until players.size) {
    @players(i):<br>
    @if(cards(i).isEmpty){
        Keine Karten<br><br>
    } else {
        @for(j <- 0 until cardStash(i).size) {
            @if(radioButtons) {
                <input type="radio" name="inject_to" value=@{i.toString + "_" + j.toString + "_FRONT"}>
            }
            <br>
            @for(card <- cardStash(i)(j)) {
                @card.toString<br>
            }
            @if(radioButtons) {
                <input type="radio" name="inject_to" value=@{i.toString + "_" + j.toString + "_AFTER"}>
            }
            <br>
        }
    }
}