@(discarded_cards: Html, player_status: Html, input_form: Html)

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Phase 10 Playing-Site</title>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/game.css")' />
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="container">
                <div class="row">
                    <form id="cardstash">
                        <div class="col w-50">
                        @discarded_cards
                        </div>
                        <div class="col w-50">
                        @player_status
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        @input_form
                        <a href="/help">Help</a>
                        <br>

                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#resetModal">
                            Reset Game &#8634
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="resetModalLabel">Are you sure?</h5>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to reset the game?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <form id="reset_form" action="/reset">
                                            <input type="submit" class="btn btn-outline-warning" value="Reset">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")"></script>
    </body>
</html>