@(tui_output: Html)

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Phase 10 Playing-Site</title>
    </head>
    <body>
        <div>
            <p>
                @tui_output
            </p>

            <form action="/game_move">
                <label for="game_move">Next Game Move:</label><br>
                <input type="text" id="game_move" name="game_move">
                <input type="submit" value="Submit">
            </form>
            <p>
            <div >
                <a href="/help">Help</a>
            </div>
            </p>
        </div>
    </body>
</html>