@(tui_output: Html)

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Phase 10 Playing-Site</title>
    </head>
    <body>
        <div>
            <p>
                @tui_output
            </p>

            <div class="submit">
                <input class="input-normal-text" type="text" id ="submit" size="30">
                <input class="input-normal-button" id="submit-button" type="submit" value="submit" onclick="submitInput()">
            </div>
            <p>
            <div >
                <a href="/help">Help</a>
            </div>
            </p>
        </div>
    </body>
</html>