<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Phase 10 Hilfsseite</title>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/help.css")' />
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    </head>
    <body>
        <div class="text">
            <h1>Hilfe zu Phase 10</h1>
            <div class="look">
                <h2>Was sehe ich:</h2>
                <p>
                    Oben werden die abgelegten Karten (die Phasen) der Spieler angezeigt
                    <br> Als nächstes wird der aktuelle Spieler, also der Spieler, der gerade am Zug ist, angezeigt.
                    <br> Dann kommen die Karten, die man ziehen könnte. Entweder die neue Karte oder die offenliegende Karte vom Spieler davor.
                    <br> Zum Schluss kommen noch die Karten vom aktuellen Spieler.
                </p>
            </div>
            <div class="buttons">
                <h2>Wofür sind die Buttons:</h2>
                <ul>
                    <li>Radiobutton: Damit kann ausgewählt werden, welche Karte abgelegt/weggeschmissen werden soll.</li>
                    <li>Checkbox: Hier werden diejenigen Karten ausgewählt, die man als Phase ablegen will.
                        Jede Karte hat so viele Checkboxen wie Gruppierungen. Z.B. Drilling und Viererfolge sind zwei Gruppierungen.
                        Für den Drilling müssen die abzulegenden Karten mit den ersten Checkboxen und für die Viererfolge
                        mit den zweiten Checkboxen ausgewählt werden.</li>
                </ul>
            </div>
            <div class="game">
                <h2>Wie kann ich jetzt spielen:</h2>
                <p>
                    Man wählt die Karte mittels Radiobutton aus, die ausgetauscht werden soll, dann drückt man entweder den "Neue Karte" oder "Offenliegende Karte" Button.
                    Fortsetzung folgt ...
                </p>
            </div>
        </div>
        <div>
            <button id="back_from_about_or_help" type="submit" class="btn btn-primary">Zurück</button>
        </div>
    </body>
    <script src='@routes.Assets.versioned("javascripts/help_about_page.js")'></script>
</html>