<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Phase 10 Hilfseite</title>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/help.css")' />
    </head>
    <body>
            <div>
                <h1>Hilfe zu Phase 10</h1>
                Phase 10 ist ein Kartenspiel.
                <br>Diese Implementierung lässt gerade ein Spieler zu.
            </div>
            <div>
                <h2>Ablauf</h2>
                <p>
    Die Spieler müssen insgesamt 10 Phasen durchlaufen.
                    In jeder Phase muss man bestimmte Kombinationen aus Karten ablegen.
                    Jeder Spieler erhält 10 Karten, mit denen er versuchen muss seine Phase zu beenden.
                    Der Spieler, der anfängt, zieht verdeckt eine Karte vom Stapel oder nimmt die oberste Karte des Ablagestapels.
                    Wenn er nun die erforderte Phase hat, kann er sie ablegen. Am Ende eines Zuges legt man eine beliebige Karte auf den Ablagestapel.
                    Jetzt ist der nächste Spieler am Zug.
                </p>
            </div>
            <div>
                <h2>Phasen:</h2>
                <ol type="1">
                    <li>Drillinge</li>
                    <li> Drillinge & Viererfolge</li>
                    <li>Vierling & Viererfolge</li>
                    <li>Siebernerfolge</li>
                    <li>Achterfolge</li>
                    <li>Neunerfolge</li>
                    <li>2 Vierlinge</li>
                    <li>7 Karten einer Farbe</li>
                    <li>Fünfling & Zwilling</li>
                    <li>Fünfling & Drilling</li>
                </ol>
            </div>
            <div>
                <h2>Ziel des Spiels</h2>
                <p>Der Spieler hat gewonnen der zuerst seine 10. Phase erfolgreich abgeschlossen hat.</p>
            </div>
            <div>
                <a href="/">Back to Playing-Site</a>
            </div>
    </body>
</html>