<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Phase 10 Home</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    </head>
    <body>
        <script src=""></script>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/home.css")' />
        <h1>Phase 10</h1>
        <p class = "jumbo"> Phase10 ist ein Kartenspiel, wo man 10 verschiedene Kombinationen von Karten(Phasen) erfüllen muss.</p>
        <br>
        <div class="nameInput">
            <div class="container">
            <div class="row">
            <div class="col-lg-10">
            <picture>
                <source media="(min-width:400px)" srcset="@routes.Assets.versioned("images/Phase10-Logo.png")">
                <img class="picture" srcset="@routes.Assets.versioned("images/Phase10-Logo.png")" alt="" style="width: auto;">
            </picture>
            </div>
            @* </div>*@
            <div class="col-lg-2">
            <div class="name">
                <form action="/set_players">
                    <div class="p1">
                    <label for="p1">Player 1:</label>
                    <br>
                    <input type="text" id="p1" name="p1" value="">

                    </div>
                    <div class="p2">
                    <label for="p2">Player 2:</label>
                    <br>
                    <input type="text" id="p1" name="p2" value="">

                    </div>
                    <div class="p3">
                    <label for="p3">Player 3:</label>
                    <br>
                    <input type="text" id="p1" name="p3" value="">

                    </div>
                    <div class="p4">
                    <label for="p4">Player 4:</label>
                    <br>
                    <input type="text" id="p1" name="p4" value="">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Starten">
                </form>
            </div>
            </div>
            </div>
            </div>
        </div>
        <a href="/help">Help</a>
    </body>
</html>
