@()

@main("Phase10") {

    <a href="http://localhost:9000/">
        <button>Go Back</button>
    </a>

    <h1>About Phase10</h1>

    Phase10 is a card game.
    Every player gets ten cards.
    When it's a players turn, he switches a card with either a new or the last discarded  card and has to discard a card.
    The aim is to solve the phase, the player is in. The first phase for example is to get two triples(a triple is a stash with three cards of same number).
    When a player has finished, he can inject his cards to other players if they fit, to get off his remaining card. But for this he has to have solved his phase.
    When a player has no cards anymore, the errorpoints are counted, the player who has ended up the round, gets no errorpoints for this round, though.
    All players who have solved the phase get to the next phase.

}
