@import model.Card
@import utils.{GameStartedEvent, GoToInjectEvent, NewRoundEvent, OutputEvent, TurnEndedEvent}
@(current_player:String, openCard:Card, newCard:Option[Card], cardStash: List[Card], e:OutputEvent)

@newTurn = @{e.isInstanceOf[GameStartedEvent] || e.isInstanceOf[NewRoundEvent] || e.isInstanceOf[TurnEndedEvent]}
@radioButtons = @{newTurn || e.isInstanceOf[GoToInjectEvent]}
<div>
    Aktueller Spieler: @current_player<br><br>
    @if(!newCard.isEmpty){
        Neue Karte:<br>
        @newCard.get.toString<br>
    }
    Offenliegende Karte:<br>
    @openCard.toString<br><br>
    Karten des Spielers:<br><br>
    @for(i <- 0 until cardStash.size) {
        <div class="row">
            <div class="col-5">
        @i: @cardStash(i)
            </div>
        @if(radioButtons) {
                <div class="col-1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="card_index" value=@i.toString>
            </div>
                </div>
                <div class="col-1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            </div>
                </div>
                <div class="col-1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            </div>
                </div>
        </div>
        }
        <br>
    }
    <br>
</div>